body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 2rem;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 2rem;
}

.hero {
  text-align: center;
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1rem;
  color: #777;
}

.hero button {
  background-color: #00c239;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stat {
  text-align: center;
}

.stat p {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.hero-img {
  width: 60%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.hero2 {
  padding: 2rem;
}

.hero2 h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero2 p {
  font-size: 1rem;
  color: #777;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.hero2 ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.hero2 li {
  margin-bottom: 0.5rem;
}

.awards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.awards img {
  width: 120px;
  margin: 0.5rem;
}

footer {
  background-color: #f4f4f4;
  padding: 1rem 2rem;
  text-align: center;
}

largest-broker-img {
  height: fit-content;
}

.pricing {
  padding: 90px;
}

.about-header {
  padding: 90px;
}
